
<div class="configurator-container">
  <mat-card class="configurator-card">

    <mat-card-content>
      <mat-card-title *ngIf="!isMerchant" class="card-title mat-primary">
        <h2 *ngIf="!tier3Sub">You need to be a tier 3 sub to Caiyth to register yourself on Stream Pictures</h2>
      <!-- <button (click)="paypal()" mat-button color="accent" class="signup-button">Paypal Signup<mat-icon class="signup-icon"aria-hidden="false" aria-label="paypal">monetization_on</mat-icon></button> -->

      <mat-divider class="button-divider"></mat-divider>
      </mat-card-title>
      <form [formGroup]="linkGroup" class="form">
        <mat-form-field appearance="standard">
          <mat-label>Background Color</mat-label>
          <input matInput [ngxMatColorPicker]="picker" placeholder="hex eg. #000000" formControlName="background" id="background">
          <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
          <ngx-mat-color-picker #picker [color]="backgroundColor"></ngx-mat-color-picker>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Text Color</mat-label>
          <input matInput [ngxMatColorPicker]="picker2" placeholder="hex eg. #FF00FF" formControlName="text" id="text">
          <ngx-mat-color-toggle matSuffix [for]="picker2"></ngx-mat-color-toggle>
          <ngx-mat-color-picker #picker2 [color]="textColor"></ngx-mat-color-picker>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Time Image is Shown</mat-label>
          <input type="number" formControlName="displayTime" id="displayTime"  matInput placeholder="In Seconds">
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="action-button" [disabled]="!tier3Sub" color="primary" (click)="onSave()" mat-button>Save</button>
      <button class="action-button" color="accent" (click)="onPreview()" mat-button>Preview</button>
    </mat-card-actions>
  </mat-card>
  <div class="preview-viewer">
    <app-picture-viewer *ngIf="preview && timerRunning" [suggestion]="preview"></app-picture-viewer>
  </div>
</div>
