.configurator-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 1068px) {
    grid-template-columns: 1fr;
  }
}
.preview-card {
  margin: 15px;
}
.form {
  display: flex;
  flex-direction: column;
}
.mat-card {
  width: fit-content;
  justify-self: center;
}
.configurator-card {
  justify-self: flex-end;
  @media only screen and (max-width: 1068px) {
    justify-self: center;
  }
  margin-top: 25px;
}
.preview-viewer {
  padding-top: 15px;
  margin-bottom: -10px;
  justify-self: flex-start;
  @media only screen and (max-width: 1068px) {
    justify-self: center;
  }
  @media only screen and (max-width: 670px) {
    zoom: 0.6;
  }
}
