
<div class="guide-container">
  <mat-card class="guide-card">
    <mat-card-header>
      <mat-icon style="zoom:1.5" mat-card-avatar>help_outline</mat-icon>
      <mat-card-title>
        GUIDE
      </mat-card-title>
      <mat-card-subtitle>
        Guide to add stream pictures to OBS
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Add a browser source in OBS.<br><br>
      Add the url: <a href="https://stream-pictures.web.app/picture-viewer?user={{user?.login}}">https://stream-pictures.web.app/picture-viewer?user={{user?.login}}</a><br><br>
      Make sure the custom css contains:<br>
      body  {{ '{' }} background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden;  {{ '}' }}<br><br>
      Send links to other Streamers with the Send Link Feature.<br><br>
      Decide what to show on stream with the Picture List Feature.<br>
      Accepting anything in the Picture List Feature show the picture instantly in the Picture Viewer.
    </mat-card-content>
  </mat-card>
</div>
