<mat-toolbar class="toolbar"  color="accent" *ngIf="auth.user$ | async as user">

  <div class="user-container">
    <button class="toggle-button" mat-icon-button type="button" (click)="toggleDrawer()" mat-button >
      <mat-icon *ngIf="drawer">menu</mat-icon>
      <mat-icon *ngIf="!drawer">arrow_back_ios_new</mat-icon>
    </button>
    <img *ngIf="user?.photoURL && !user?.twitchURL" class="profile-img" src="{{user?.photoURL}}" alt="Cover Photo">
    <img *ngIf="user?.twitchURL" class="profile-img" src="{{user?.twitchURL}}" alt="Cover Photo">
    <span *ngIf="user?.displayName && !user?.twitchDisplayName" class="display-name">{{user?.displayName}}</span>
    <span *ngIf="user?.twitchDisplayName" class="display-name">{{user?.twitchDisplayName}}</span>
  </div>
  <div class="title-container">
    <h1 class="title-text">{{title}}</h1>
  </div>

  <button mat-icon-button class="theme-btn" (click)="toggleTheme()">
    <mat-icon
      aria-hidden="false"
      aria-label="Icon-button with heart icon">
      dark_mode
    </mat-icon>
  </button>
</mat-toolbar>
