
.suggested-picture {
  max-width: 600px;
  max-height: 600px;
}


.profile-img {
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile-header {
  display: flex;
}
.profile-text {
  margin-left: 15px;

}
.profile-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  align-self: center;
  line-height: inherit;
  margin: 0;
}
.text {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  line-height: inherit;
  margin-bottom: 15px;
}
.picture-card {
  margin: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
