
.suggested-picture {
  max-width: 600px;
  max-height: 600px;
}
.profile-img {
  height: 70px;
  border-radius: 50%;
}
.profile-header {
  display: flex;
}
.profile-text {
  margin-left: 15px;
}
.profile-name {
  align-self: center;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 0;
}
.picture-card {
  width: fit-content;
  margin: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
