<mat-card class="picture-card" [ngStyle]="{'background-color': picture?.backgroundColor?.rgba, 'color': picture?.color?.rgba}">
  <div class="">
    <div class="profile-header">
      <img class="profile-img" src="{{picture.profile_image_url}}" alt="Cover Photo">
      <div class="profile-text">
        <h1 class="profile-name">{{picture.display_name}}</h1>
        <h1 class="text">{{picture.text}}</h1>
      </div>

    </div>
    <img class="suggested-picture" src="{{picture.url}}" alt="Random Picture">
  </div>
</mat-card>

