.buttom-twitch-login{
  cursor:pointer;
  padding: 10px;
  border: 0;
  background-color: #6441a5;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #b194e6;
  line-height: 1rem;
}
