
@use 'sass:map';
@use '~@angular/material' as mat;
@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $accent-palette: map.get($color-config, 'accent');

  .selected-app {
    // Read the 500 hue from the primary color palette.
    background-color: rgba(mat.get-color-from-palette($accent-palette), 0.15);

  }
}
@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
.home-screen-container {
  display: flex;
  flex-direction: column;
}
.home-screen-buttons {
  height: 70px;
  text-align: left;
  width: 280px;
  font-size: 30px;
  line-height: 20px; // DO NOT FORGET IT !
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
}

.home-screen-icon {
  float: right;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
}
